{{!-- Mechanic dashboard: --}}
{{#if isMechanic}}
<div class="container p-2 text-center mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
        <h2>Your Dashboard</h2>
        <a class="nav-link" href="https://www.autozone.com/" target="_blank">Find the parts you'll need</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {{#each tickets as | ticket |}}
      <div class="col mb-4 p-3">
        <div class="card h-100">
          <div class="card-body p-5">
            <h4 class="card-title" id="ticket">{{ticket.title}}</h4>
            <h5 class="card-title">{{ticket.modelYear}} {{ticket.carMake}} {{ticket.carModel}}</h5>
            <p class="card-text">{{ticket.issue}}</p>
            {{#each bids as | bid |}}
              <p class="card-text">My Bid: ${{bid.amount}}</p>
              <p class="card-text">Bid Message: {{bid.content}}</p>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{else}}

{{!-- User dashboard: --}}

<div class="container p-2 text-center mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
      <h2>Ticket Dashboard</h2>
      <a class="nav-link" href="./tickets">Create a new ticket</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-2 text-center mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2>Your Tickets</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{#each user.tickets as | ticket |}}
    <div class="col-md-4">
      <div class="card h-100" id="dashCard">
        <div class="card-body p-5">
          <h4 class="card-title" id="ticket">{{ticket.title}}</h4>
          <h5 class="card-title">{{ticket.modelYear}} {{ticket.carMake}} {{ticket.carModel}}</h5>
          {{#if ticket.winner}}
          <p class="card-text">Your Mechanic: {{ticket.mechanic.username}}</p>
          {{else}}
          {{#if ticket.bids.length}}
          {{#each ticket.bids as | bid |}}
          <p class="card-text">Mechanic's Desired Wages: ${{bid.amount}}</p>
          <p class="card-text">Message: {{bid.content}}</p>
          <button class="btn btn-primary acceptBid" mechanicId="{{bid.mechanicId}}" ticketId="{{bid.ticketId}}">Accept this bid</button>
          {{/each}}
          {{else}}
          <p class="card-text">No bids, yet.</p>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>



<script src="/js/acceptBid.js"></script> 
{{/if}}
