<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{#each tickets as |ticket|}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{ticket.modelYear}} {{ticket.carMake}} {{ticket.carModel}}</p>
          <p class="card-text">{{ticket.title}}</p>
          {{#if ../isMechanic}}
            <button href="#offcanvasExample{{ticket.id}}" id="bidCanvas" class="btn btn-primary" data-bs-toggle="offcanvas" role="button"
              aria-controls="offcanvasExample">Place Bid</button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample{{ticket.id}}"
              aria-labelledby="offcanvasExampleLabel">
              <div data-bs-theme="dark" class="offcanvas-header text-center">
                <div class="rows">
                <h5 class="offcanvas-user" id="offcanvasUser">{{ticket.user.username}}'s problem</h5>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                <h5 class="offcanvas-title" id="offcanvasTitle">{{ticket.title}}</h5>
                <div id="ticketissue">
                  <div class="offcanvas-issue">{{ticket.issue}}</div>
                  <form class="form bid-form">
                    <div class="mt-3 mb-3">
                      <label for="bidAmount" class="form-label">Expected Compensation</label>
                      <input type="number" placeholder="$" class="form-control" id="bidAmount" name="bidAmount">
                    </div>
                    <div class="mb-3">
                      <label for="bidMessage" class="form-label">Message to {{user.username}}</label>
                      <textarea class="form-control" placeholder="Make yourself stand out and good luck!"
                        id="bidMessage" name="bidMessage"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary submitBidBtn" id="bidBtn" mechanic="{{../username}}" ticketId="{{ticket.id}}">Submit Bid</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{#if isMechanic}}
<script src="../js/newBid.js"></script>
{{/if}}

