<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{#each tickets as |ticket|}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text"> Vehicle: {{ticket.modelYear}} {{ticket.carMake}} {{ticket.carModel}}</p>
          <p class="card-text">{{ticket.title}}</p>
          <button href="#offcanvasExample" class="btn btn-outline-primary" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample">Place Bid</button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ticket.title}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                {{ticket.issue}}
                <div class="dropdown mt-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Place Bid</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


