{{#if isMechanic}}
<ul id="chat">
{{#each messages as |message|}}
{{#ifEquals massage.sentBy "Mechanic"}}
<li>You at {{message.createdAt}}:</li>
<li>{{message.content}}</li>
{{else}}
<li>{{message.mechanic.username}} at {{message.createdAt}}:</li>
<li>{{message.content}}</li>
{{/ifEquals}}
{{/each}}
</ul>
{{else}}
<ul id="chat">
{{#each messages as |message|}}
{{#ifEquals massages.sentBy "User"}}
<li>You at {{message.createdAt}}:</li>
<li>{{message.content}}</li>
{{else}}
<li>Them at {{message.createdAt}}:</li>
<li>{{message.content}}</li>
{{/ifEquals}}
{{/each}}
</ul>
{{/if}}

<form class="form" id="chatForm">
    <label class="form-label" for="chatInput">Send a message:</label>
    <input class="form-control" id="chatInput">
    <button class="btn btn-primary" type="submit">Send</button>
</form>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script type="application/json" id="isMechanic" data-isMechanic="{{isMechanic}}"></script>
<script src="/js/messages.js"></script>