<div class="container">
    <div class="row justify-content-center align-items-center d-flex">
        {{#if isMechanic}}
        <div class="col-md-6 my-auto">
          <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Your Rooms</h2>
                <div class="p-2">
                    {{#each rooms as |room|}}
                    <div class="group-item" id="roomCard">
                        <div>Room id: {{room.roomId}}</div>
                        <div> User: {{room.user.username}}</div>
                        <div class="text-center p-2">
                        <a href="/messages/{{roomId}}" class="btn btn-primary d-block">Join</a>
                    </div>
                    {{/each}}
                </div>
            </div>
           </div>
        </div>
{{else}}
   <div class="col-md-6 my-auto">
          <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Your Rooms</h2>
                <div class="p-2">
                    {{#each rooms as |room|}}
                    <div class="list-group-item" id="roomCard">
                        <div>Room id: {{room.roomId}}</div>
                        <div> Mechanic: {{room.mechanic.username}}</div>
                        <div class="text-center p-2">
                        <a href="/messages/{{roomId}}" class="btn btn-primary d-block">Join</a>
                    </div>
                    {{/each}}
                </div>
            </div>
           </div>
        </div>
    {{/if}}
    </div>
</div>
