{{!-- TODO: add linked bids --}}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ticket.title}}</h5>
    <p class="card-text">{{ticket.carMake}}</p>
    <p class="card-text">{{ticket.carModel}}</p>
    <p class="card-text">{{ticket.issue}}</p>
    {{#if ticket.winner}}
    <p>Your mechanic: {{ticket.mechanic.username}}</p>
    {{/if}}
  </div>
</div>
